
Binaries
DerivedDataCache
Intermediate
ActionRPG
AncientTreasures
Audio
Blueprints
Collections
Developers
Effects
Interfaces
Maps
Mixamo
StarterContent
Weapon_Pack
Weapons
mixamo_converter-master
Saved
Build

.vscode
.vs
*.VC.db
*.opensdf
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace