
Binaries
DerivedDataCache
Intermediate
AncientContent
ActionRPG
AncientTreasures
Audio
Blueprints
Collections
mixamo_converter-master
Saved
Build

.vscode
.vs
*.VC.db
*.opensdf
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace